{% extends "layout/layout1.html" %}
{% from "macros/fields.html" import render_field %}

{% block formcontent %}
<div class="col-md-6 offset-md-3">

    <!-- Alert Box -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} mt-4">
        <span class="font-weight-bold">{{message}}</span>
        <a href="javascript:void(0)" data-dismiss="alert" class="close">&times;</a>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="mt-3 z-depth-1-half p-3 form-box">
        <div class="white-text font-weight-bold mb-2 login-text">Forget Password!</div>

        <!-- Horizontal line -->
        <hr class="hr-light">

        <form action="" method="post" id="loginForm">
            {{ form.csrf_token }}
            <!--Email -->
            {{ render_field('envelope', form.email, placeholder='Enter Your Email...') }}

            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="form-control teal darken-2 white-text font-weight-bold") }}
            </div>
        </form>

    </div>

</div>
{% endblock formcontent %}